<center>

    Github repo: 
    <!-- Place this tag where you want the button to render. -->
    <a class="github-button" href="https://github.com/akira-kurogane/mongodb-guide" data-icon="octicon-star" data-show-count="false" aria-label="Star Akira's MongoDB Guide on GitHub">Star</a>

    <!-- Place this tag where you want the button to render. -->
    <a class="github-button" href="https://github.com/akira-kurogane/mongodb-guide/fork" data-icon="octicon-repo-forked" data-show-count="false" aria-label="Fork Akira's MongoDB Guide on GitHub">Fork</a>

</center>
<!-- Place this tag in your head or just before your close body tag. -->
<script async defer src="https://buttons.github.io/buttons.js"></script>
